.cabinetMap-info {
  width: 100%;
  height: 40px;
  text-align: center;
}
.cabinetMap-info .info-item {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 20px;
  margin: 0 auto;
}
.cabinetMap-info .info-item i {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #333;
}
.cabinetMap-info .info-item span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
.cabinetMap-info .info-item .null {
  background: #dfe0e4;
}
.cabinetMap-info .info-item .main {
  background: #c5e6b9;
}
.cabinetMap-info .info-item .fully {
  background: #c9e1ff;
}
.cabinetMap {
  width: 100%;
  padding-bottom: 50px;
}
.cabinetMap .group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  border-radius: 4px;
}
.cabinetMap .group .item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 140px;
}
.cabinetMap .group .item .item-device {
  width: 100%;
  height: 100%;
  background: #fff;
  background-size: 110% 100%;
  border: 1px solid #333;
  padding-right: 50px;
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
  margin-top: 4px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #999 inset;
}
.cabinetMap .group .item .item-device::before {
  content: '○';
  position: absolute;
  top: 0px;
  left: 3px;
  color: #666;
  font-size: 4px;
}
.cabinetMap .group .item .item-device::after {
  content: '○';
  position: absolute;
  bottom: 0px;
  left: 3px;
  color: #666;
  font-size: 4px;
}
.cabinetMap .group .item .item-device img {
  width: 80%;
  height: 30px;
  margin: 0 auto;
  display: none;
}
.cabinetMap .group .item .item-device p {
  width: 100%;
  height: 26px;
  padding-top: 6px;
  box-sizing: border-box;
  line-height: 14px;
  text-align: center;
  font-size: 14px;
  word-break: break-all;
  color: #333;
  font-weight: 500;
}
.cabinetMap .group .item .item-device .status {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.cabinetMap .group .item .item-device .error {
  background: linear-gradient(10deg, #fd0a09 30%, #fc9492, #fdd9d7);
  box-shadow: -1px 1px 2px 0px #666;
}
.cabinetMap .group .item .item-device .success {
  background: linear-gradient(10deg, #0c7801 30%, #95d589, #f2fbf1);
  box-shadow: -1px 1px 2px 0px #666;
}
.cabinetMap .group .item .item-device .outline {
  background: url(../img/outline.png) no-repeat;
  background-size: 100% 100%;
}
.cabinetMap .group .item .null {
  background: #dfe0e4;
  background-size: 100% 100%;
}
.cabinetMap .group .item .main {
  background: #c5e6b9;
}
.cabinetMap .group .item .fully {
  background: #c9e1ff;
}
