li {
  border: 1px solid #999;
}
.deviceStatus {
  width: 100%;
  overflow: hidden;
  color: #fff;
}
.status {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background: #cccccc;
}
.el-row {
  height: 100%;
  border-bootom: 1px solid #999;
}
.el-col {
  height: 100%;
  text-align: center;
  float: left;
  border-right: 1px solid #999;
}
.td {
  border-bottom: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  line-height: 25px;
}
.td:nth-child(1) {
  border-top: 1px solid transparent !important;
}
