.el-checkbox:nth-child(1) {
  margin-left: 30px;
}
.el-checkbox {
  width: 22%;
  margin-top: 5px;
}
.listBox {
  width: 100%;
}
.listBox .list-item {
  width: 100%;
  min-height: 30px;
  margin-top: 2px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
  cursor: pointer;
}
.listBox .list-item:hover {
  background: #63898F;
}
.listBox .list-item .list-item-title {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding-left: 10px;
  line-height: 30px;
  font-size: 14px;
}
.listBox .list-item .list-item-Progress {
  display: inline-block;
  vertical-align: middle;
  width: 150px;
  margin-left: 50px;
}
.listBox .list-item .list-item-Progress .el-progress__text {
  color: #fff;
}
.listBox .list-item .list-item-Progress .el-progress .el-progress__text {
  color: #fff;
}
.listBox .list-item .list-item-btn {
  display: inline-block;
  float: right;
  width: 60px;
}
.listBox .list-item .list-item-btn .el-button {
  margin: 0;
}
