.userList .el-form-item__label {
  color: #fff !important;
}
.userList .user-pagination {
  width: 100%;
  text-align: center;
}
.userList .user-pagination .el-pager li {
  background: transparent !important;
}
.userList .user-pagination .el-pagination .btn-next,
.userList .user-pagination .el-pagination .btn-prev {
  background: transparent !important;
  color: #fff !important;
}
.userList .user-pagination .el-pager li.btn-quicknext,
.userList .user-pagination .el-pager li.btn-quickprev {
  color: #fff;
}
.userList .user-pagination .el-pagination button:disabled {
  background: transparent !important;
  color: #fff !important;
}
.userList .user-pagination .el-pagination {
  color: #fff;
}
.userList .user-pagination .el-pagination__total {
  color: #999;
}
